<mat-nav-list>
        <h3 matSubheader>Theme Mode Switcher</h3>
</mat-nav-list>
<div class="flex-container container">
    <mat-icon>brightness_3</mat-icon>
    <mat-slide-toggle [(checked)]="isDark" (click)="themeToggle()"></mat-slide-toggle>
    <mat-icon>wb_sunny</mat-icon>
</div>