

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    width: 320px;
}

.card-wrapper {
  width: calc(100% - 48px);
  height: 100%;
  max-width: 460px;
  margin: 24px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-decoration: none;
}

.mat-card {
  width: 100%;
}